@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

#logo {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
}

a {
    margin-right: 45px;
    text-decoration: none;
}

header > a > span:not(:hover) {
    transition: 0.2s;

    color: #343434;
    text-decoration-style: 'Relaway';
    text-decoration: none;

}

header > a > span:hover {
    transition: 0.2s;

    color: rgb(200, 200, 200);
    text-decoration-style: 'Relaway';
    text-decoration: none;

}

#content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;

    background-color: inherit;
    background-image: inherit;
}

.nav {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
}

.nav:not(:hover) {
    transition: 0.5s;
    width: 300px;
    /*border-radius: 15px;*/
    /*height: 500px;*/
    /*margin: 40px;*/
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 45px;
}

.nav:hover {
    width: 400px;
    transition: 0.5s;
    /*border: 10px solid rgb(136, 136, 136);*/
    cursor: pointer;
    border-radius: 45px;
    margin-top: 40px;
}


#bottom {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;

    padding-top: 25px;
    padding-bottom: 25px;

    /*width: 100%;*/
    /*height: 20px;*/
    /*background-color: rgb(241, 241, 241);*/
    border-top: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);

    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
