<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel = "stylesheet" href="{{ url_for('static', filename='navstyle.css') }}" />

    <title>Water</title>
</head>
<body>
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}" onclick="window.location = './'">

    <header>
        <a href="algo"><span>Algo</span></a>
        <a href="blur"><span>Blur</span></a>
        <a href="map"><span>Map</span></a>
        <a href="water" style="font-weight: bold;"><span>Water</span></a>
    </header>

    <div id="content">
        <p>
            Для получение карты полива загрузите фотографию поля в расширении .PNG, .JPG или .JPEG. 
        </p>


        <form method="post" enctype=multipart/form-data>
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file"><span>Choose a file</span></label>

            <input type="submit" value="send">
        </form>
    </div>

    <div id="bottom">
        © XLV.NORTH
    </div>

</body>
</html>
