<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TYI-2019</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='map_style.css') }}" />
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>

    <meta id="data" data-name="{{info}}">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script>
        var isUpDown = 0;
        var isDot = true;
        var lineColor = 'red';
        var isSubmit = 0;
        var close = true;

        function clearGreen(col="green") {
            for(i in map._layers) {
                if(map._layers[i]._path != undefined && map._layers[i].options.color == col) {
                    try {
                        map.removeLayer(map._layers[i]);
                        console.log(i);
                    }
                    catch(e) {
                        console.log("problem with " + e + map._layers[i]);
                    }
                }
            }
        }

        function runMap(isCheck=-1) {
            // 50.255759, 35.158128
            // 49.392233, 36.236860
            // x1 y1 -> x2 y2
            // x3 y3 -> x4 y4
            if (isCheck != -1) {
                isUpDown = isCheck;
            }
            if (isCheck == 0) {
                isDot = true;
                lineColor = 'blue';
            }
            if (isCheck == 1) {
                isDot = true;
                lineColor = 'blue';
            }
            if (isCheck == 2) {
                lineColor = 'red';
                isDot = false;
            }


            var latlngs = null;
            function createRectangle(x1, y1, x4, y4) {
            	x2 = x4;
                y2 = y1;
                x3 = x1;
                y3 = y4;
                latlngs = [
                	[x1, y1],
                    [x2, y2],
                    [x4, y4],
                    [x3, y3],
                    [x1, y1],
                ];
            }

            function createDot(x, y) {
                latlngs = [
                    [x, y],
                    [x + 0.0001, y],
                    [x + 0.0001, y + 0.0001],
                    [x, y + 0.0001],
                    [x, y],
                ];
            }



            // clearGreen();


            var xDron = document.getElementById("dronX").value;
            var yDron = document.getElementById("dronY").value;
            xDron = parseFloat(xDron);
            yDron = parseFloat(yDron);

            var x1 = document.getElementById("upLeftCornerX").value;
            var y1 = document.getElementById("upLeftCornerY").value;
            x1 = parseFloat(x1);
            y1 = parseFloat(y1);

            var x3 = document.getElementById("downRightCornerX").value;
            var y3 = document.getElementById("downRightCornerY").value;
            x3 = parseFloat(x3);
            y3 = parseFloat(y3);

            if (isDot == true)
                createDot(xDron, yDron);
            if (isDot == false)
                createRectangle(x1, y1, x3, y3);

            // var latlngs = [
            //      [49.621593, 36.401131],
            //      [37.77, -122.43],
            //      [34.04, -118.2]
            // ];


            function clearLine() {
                // It clears polylines
                for(i in map._layers) {
                	if(map._layers[i]._path != undefined) {
                    	try {
                        	map.removeLayer(map._layers[i]);
                        }
                        catch(e) {
                        	console.log("problem with " + e + map._layers[i]);
                        }
                    }
                }
            }

            if (isUpDown == 1) {
                clearLine();
            }

            if (latlngs != null) {
                var polyline = L.polyline(latlngs, {color: lineColor}).addTo(map);
                // zoom the map to the polyline
                if (isDot == false)
                    map.fitBounds(polyline.getBounds());
            }
            Submit();
        }


        function Reset() {
            isUpDown = 0;
            isDot = true;
            lineColor = 'red';

			// It clears polylines
	        for(i in map._layers) {
	            if(map._layers[i]._path != undefined) {
	                try {
	                    map.removeLayer(map._layers[i]);
	                }
	                catch(e) {
	                  	console.log("problem with " + e + map._layers[i]);
	                }
	            }
	        }

            document.getElementById("dronX").value = "";
            document.getElementById("dronY").value = "";

	        document.getElementById('upLeftCornerX').value = "";
    		document.getElementById('upLeftCornerY').value = "";

    		document.getElementById('downRightCornerX').value = "";
    		document.getElementById('downRightCornerY').value = "";
		}

		function Submit() {
            // isSubmit = 0;
			let flaskData = $("#data").data()
            let arr = flaskData.name
            console.log(arr)

			// var arr = [
			// 	[50.13466, 35.42542],
			// 	[49.36449, 36.81519],
			// 	[49.5	, 35.7],
			// 	[50		, 35.75],
			// ];
            if (isSubmit == 0) {
			    var pol = L.polyline(arr, {color: 'green'}).addTo(map);
                // clearGreen("red");
            }
            if (isSubmit > 0) {
                clearGreen();
            }
            close = false;
		}
    </script>


</head>
<body>
    <div id="ever">
        <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
        <link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet"/>
        <div id="mapid"></div>

        <form action="" method="post" id="send">
            {{ form.csrf_token }}
            {{form.first_dot_lon(size=32)}}
        	{{form.first_dot_lat(size=32)}}

		    {{form.second_dot_lon(size=32)}}
	        {{form.second_dot_lat(size=32)}}

            {{form.drone_dot_lon(size=32)}}
	        {{form.drone_dot_lat(size=32)}}



            <!-- <input type="text" class="inp">
            <input type="text" class="inp"> -->


			<div>
                {{ form.submit() }}
			</div>
            <div>
            	<input class="blackText btn" id="check" type="button" name="check" value="Check" onclick="runMap(0); runMap(1); runMap(2); runMap(0);">
            </div>


			<div>
				<input class="blackText btn" id="reset" type="button" name="reset" value="reset" onclick="Reset();">
			</div>


        </form>

        <script>

            // Where you want to render the map.
            var element = document.getElementById('mapid');

            // Height has to be set. You can do this in CSS too.
            // element.style = 'height:100%;';

            // Create Leaflet map on map element.
            var map = L.map(element);

            // Add OSM tile leayer to the Leaflet map.
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            // Target GPS coordinates.
            var target = L.latLng('49.621593', '36.401131');
            clearGreen("red");

            // ###################

            // var mycircle = OpenLayers.Geometry.Polygon.createRegularPolygon(
            //     target,
            //     50000,
            //     40,
            //     0
            // );

            // ###################



            // Set map center to target with zoom 14.
            map.setView(target, 8);


            // reset();


            isUpDown = 0; // false -> UpLeft;    true -> DownRight
            function onMapClick(e) {
                clearGreen();
            	var lat  = e.latlng.lat.toFixed(5);
    			var lon  = e.latlng.lng.toFixed(5);
    			console.log(lat);
    			console.log(lon);
    			console.log(isUpDown);
                if (isUpDown == 0) {
                    Reset();
                    // clearGreen();
                    isDot = true;
                    lineColor = 'blue';
                    document.getElementById('dronX').value = lat;
                    document.getElementById('dronY').value = lon;
                } else if (isUpDown == 1) {
                    // clearGreen();
                    isDot = true;
                    lineColor = 'blue';
    				document.getElementById('upLeftCornerX').value = lat;
    				document.getElementById('upLeftCornerY').value = lon;
    			} else if (isUpDown == 2) {
                    // clearGreen();
                    lineColor = 'red';
                    isDot = false;
    				document.getElementById('downRightCornerX').value = lat;
    				document.getElementById('downRightCornerY').value = lon;
    			}
    			isUpDown = (isUpDown + 1) % 3;
                isSubmit = (isSubmit + 1);
    			runMap();
            }

            map.on('click', onMapClick);

            runMap();
        </script>

    </div>

</body>
</html>
