<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel = "stylesheet" href="{{ url_for('static', filename='navstyle.css') }}" />

    <title>Map</title>
</head>
<body>
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}" onclick="window.location = './'">

    <header>
        <a href="algo"><span>Algo</span></a>
        <a href="blur"><span>Blur</span></a>
        <a href="map" style="font-weight: bold;"><span>Map</span></a>
        <a href="water"><span>Water</span></a>
    </header>

    <div id="content">
        <p>
            Загрузите .zip архив с набором фотографий и файлом с логами полета с расширением .tlog. Фотографии должны иметь номера в соответствии с их порядком при фотографировании (должны выстраиваться в такой после сортировки названий в лексикографическом порядке).
            ВНИМАНИЕ! Все файлы должны находится в корне архива. Не допускается наличие в архиве папки со всеми файлами. 
        </p>



        <form method="post" enctype=multipart/form-data>
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file"><span>Choose a file</span></label>

            <input type="submit" value="send">
        </form>
    </div>

    <div id="bottom">
        © XLV.NORTH
    </div>

</body>
</html>
